.contact-title{
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0px;
    color: white;
    padding-left: 30px;
}
.contactinfo{
    color: white;
    padding-left: 30px;
}
.contactinfo1{
    color: white;
    font-size: 40px;
    margin-top: 50px;
}
.tex{
    color: white;
}
.icon{
    padding-left: 30px;
}
.bars{
    border-left: 2px solid white;
}
.fas{
    font-size: 20px;
}

form{
    margin-top: 20px;
}
input{
    width: 50%;
    height: 40px;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 15px;
    border-radius: 20px;
}
textarea{
    margin-top: 10px;
    width: 50%;
    padding-left: 15px;
    border-radius: 10px;
}
.con-bg{
    background-color: #191919;
    border-radius: 20px;
}